/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 padding: 20px;
}
#header{
 height: 150px;
 background-color: green;
}
#navigation{
 height: 300px;
 width: 200px;
 margin: 20px 20px 0px 0px;
 background-color: blue;
 float: left;
}
#main_content{
 height: 400px;
 width: 725px;
 background-color: red;
 display: inline-block; 
 padding: 5px 0px 0px 5px;
 margin: 20px 0px 0px 0px;

}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin: 10px 0px 10px 10px;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin: 10px 0px 0px 10px;
}